# Database Configuration
POSTGRES_DB=odoo
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo
DB_HOST=db
DB_PORT=5432

# Odoo Configuration
ODOO_PORT=8070
ODOO_LOG_LEVEL=info
ODOO_WORKERS=0
ODOO_ADMIN_PASSWD=admin

# SMTP Configuration (opcional)
SMTP_SERVER=localhost
SMTP_PORT=25
SMTP_USER=
SMTP_PASSWORD=

# Additional Settings
ODOO_DATA_DIR=/var/lib/odoo
