# Database Configuration
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=
DB_PORT=

# Odoo Configuration
ODOO_PORT=
ODOO_LOG_LEVEL=
ODOO_WORKERS=
ODOO_ADMIN_PASSWD=

# SMTP Configuration (opcional)
SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

# Additional Settings
ODOO_DATA_DIR=
